<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="GET" path="*.png" type="ImageResizer.ImageStoreHandler"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="false"/>
    <handlers>
      <add name="ImageHandler" verb="GET" path="*.png" type="ImageResizer.ImageStoreHandler"/>
    </handlers>
  </system.webServer>
</configuration>
